* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
}

footer {
    margin: 20px;
}

#logo {
    width: 200px;
}

.titulo {
    font-weight: 400;
    text-align: center;
}

.nav-bar {
    display: none;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.banner img {
    width: 100%;
    display: block;
}

section {
    width: 100%;
}

h3 {
    font-size: 20px;
    color: #666;
}

h1 {
    font-size: 24px;
    color: #666;

}

.precio {
    width: 30%;
    font-size: 18px;
    color: #666;

}

.descripcion {
    
    font-size: 16px;
    display: none;
    color: white;
}


.descuento {
    width: 70%;
    font-size: 16px;
    color: #39b54a;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

footer {
    text-align: center;
}

#foot {
    padding: 10px;
}

.burger-menu {
    background-size: contain;
    display: block;
    background-color: #03264c;
    color: white;
    max-width: 40px;
    padding: 5px 0;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    height: 30px;
    align-items: center;
}

main {
    margin: auto;
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.info .precio {
    width: 30%;
}

.info .descuento {
    width: 70%;
}

.producto {
    margin: 10px;
    text-align: center;
    align-items: center;
    background-color: white;
}

.producto img {
    width: 90%;
}

.img {
    margin: 10px;
    width: 90%;
}

.info {
    position: relative;
    border-top: solid 1px #ebebeb;
    background-color: white;
    padding: 15px;
}

.info p {
    width: 80%;
}

.info i {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 50px;

}

#icon {
    color: blue;
    font-size: 35px;
}

/* formulario registro */

.registro {
    width: 100%;
    padding: 20px;
}

.formulario ul {
    list-style: none;
    padding: 10px;
}

.formulario p {
    width: 50%;
    text-align: left;
    font-size: 20px;
}

.formulario li {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.campos {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border-color: #FFF;
}

.radioBtn {
    margin: auto;
}

.check {
    display: flex;
    flex-direction: column;
}

.check li {
    text-align: left;
    padding-left: 50px;
}

.btn {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    height: 40px;
    background-color: blue;
    color: #FFF;
    border-radius: 4px;
    border-color: blue;
}

/* LOGIN */
.login {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.btnEnviar {
    width: 100%;
    height: 40px;
    background-color: blue;
    color: #FFF;
    border-radius: 4px;
    border-color: blue;
}

/* mobile */
@media (min-width: 361px) {

    .formBuscar{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        
    }
    .formBuscar li{
        position: relative;
        width: 40%;
    }
    .buscar{
        position: relative;
    }
    #lupa{
        font-size: 15px;
        color: #666;
        position: absolute;
        left: 88%;
        top: 30%;
        background-color: #ffff;
        
    }
    .producto:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripcion {
        display: block;
    }

    .descripcion:hover{
        color: #666;
        transition-duration: 450ms;
    }

    header {
        padding: 20px;

    }

    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }

    .header div {
        width: 50%;
    }

    .titulo {
        margin: auto;
    }

    #logo {
        width: 100%;
    }

    .logo {
        padding: 5px;
    }

    #buscar {
        width: 100%;
        border-radius: 4px;
        border-color: #ffff;
        height: 35px;
    }

    .titulo {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .preDesc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .precio {
        width: 30%;
    }

    .descuento {
        width: 70%;
    }
    .btnEnviar:hover{
       background-color: #0022AA;

    }
    #icon{
        font-size: 20px;
    }

    /* registro */
    .formulario li {
        margin: auto;
        min-width: 250px;
        padding: 20px 0;

    }
}

/* desktop */
@media (min-width: 769px) {

    .formBuscar li{
        position: relative;
        width: 25%;
    }

    .contenido {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .producto {
        width: 40%;
    }

    .header {
        display: flex;
        justify-content: space-around;
    }

    .header div {
        width: 30%;
    }

    .titulo {
        margin: 0;
        max-width: 300px;
    }

    .burger-menu {
        display: none;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }

    .nav-bar ul {
        display: flex;
    }

    .nav-bar li {
        margin: 0 5px;
    }

    .nav-bar i {
        font-size: 18px;
        margin: 0 5px;
    }

    #icon{
        font-size: 30px;
    }

}

@media (min-width: 1200px) {
    #logo {
        width: 250px;
    }

    .header,
    .nav-bar {
        max-width: 1200px;
        margin: auto;
    }

    .header {
        align-items: center;
        padding: 20px;
    }

    .titulo {
        max-width: none;
        margin: 0;
    }

    .nav-bar li {
        margin: 0 10px;
    }

    .nav-bar a {
        font-size: 19px;
    }

    .nav-bar {
        margin-top: 10px;
    }

    .contenido {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px;
    }

    h1 {
        text-align: left;
        padding-left: 30px;
    }

    .producto {
        width: 20%;
    }
    
    .precio{
        font-size: 15px;
    }
    .descuento{
        font-size: 15px;
        text-align: center;
    }

    .pie{
        display: flex;
        flex-direction: row;
    }

    #icon:hover{
        color: #666;
    }

    #camion:hover{
        transform: rotate(-90deg);
        transition-duration: 450ms;
    }
}